<p>file-view works! {{file.id}}</p>
<p>file-view works! {{file.name}}</p>
<div class="text-center">
    <img [src]='image' class="img-thumbnail" >
</div>
<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="updateFile()" class="btn btn-success">Update File</button>
        <button (click)="shareFile()" class="btn btn-primary">Share File</button>
        <button (click)="deleteFile()" class="btn btn-danger">Delete File</button>
      </div>
</div>


