<div class="row">
    <div class="column">
        <div class="card">
            <img *ngIf="file?.fileType==='IMAGE'" class="card-img-top" [src]='image' class="img-thumbnail">
            <video *ngIf="file?.fileType==='VIDEO'" class="card-video-top" controls="controls" autobuffer="autobuffer"
                [src]='video'>
            </video>
            <audio *ngIf="file?.fileType==='AUDIO'" class="card-top" controls="controls" autobuffer="autobuffer"
                [src]='audio'>
            </audio>
            <div class="card-body">
                <h5 class="card-title">{{file?.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{file?.id}}</h6>
                <p class="card-text">{{file?.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Uploader: {{file?.uploaderName}}</li>
                <li class="list-group-item">Upload Date: {{file?.uploadDate}}</li>
                <li class="list-group-item">Update Date: {{file?.updateDate}}</li>
                <li class="list-group-item">Version: {{file?.version}}</li>
                <li class="list-group-item">Original Name: {{file?.originalName}}</li>
                <li class="list-group-item">Extension: {{file?.extension}}</li>
            </ul>

            <div class="card-body">
                <a (click)="updateFile()" class="btn btn-primary mr-1">Update<span class="material-icons">
                        update</span></a>
                <a (click)="shareFile()" class="btn btn-success mr-1">Share<span class="material-icons">
                        share</span></a>
                <a (click)="revertFile()" class="btn btn-warning mr-1">Revert<span class="material-icons">
                        history</span></a>
                <a (click)="viewLogs()" class="btn btn-info mr-1">Logs<span class="material-icons">
                        description</span></a>
                <a (click)="deleteFile('')" class="btn btn-danger mr-1">Delete<span class="material-icons">
                        delete</span></a>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Share IO</h5>
                <p class="card-text">The best platform for sharing images, video or audio files !!!</p>
            </div>
        </div>
    </div>
</div>