<div>
  <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
    <div class="form-group" required=true>
      <label for="message">
        Message
      </label>
      <input required=true id="message" class="form-control" type="text" formControlName="message">
    </div>
    <mat-form-field>
      <input required=true matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
        [formControl]="dateControl" [min]="minDate" [max]="maxDate" [disabled]="false">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="1"
        [stepSecond]="1" [touchUi]="false" [color]="color" [enableMeridian]="false" [disableMinute]="false"
        [hideTime]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <div class="text-center">
      <button class="btn btn-primary mr-3" type="submit">Sumbit</button>
      <button type="button" (click)="backClicked()" class="btn btn-success  mr-3">Back</button>
    </div>
  </form>
</div>