<div class="login-form">
  <form *ngIf="!isLoggedIn" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls['username'].errors }" />
      <div *ngIf="submitted && formControls['username'].errors" class="invalid-feedback">
        <div *ngIf="formControls['username'].errors['required']">Username is required</div>
        <div *ngIf="formControls['username'].errors['minlength']">
          Username must be at least 3 characters
        </div>
        <div *ngIf="formControls['username'].errors['maxlength']">
          Username must not exceed 20 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls['password'].errors }" />
      <div *ngIf="submitted && formControls['password'].errors" class="invalid-feedback">
        <div *ngIf="formControls['password'].errors['required']">Password is required</div>
        <div *ngIf="formControls['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="formControls['password'].errors['maxlength']">
          Username must not exceed 40 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
      <button type="button" (click)="onReset()" class="btn btn-warning float-right"> Reset
      </button>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="submitted && isLoginFailed">
      Login failed: {{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged as user: {{ username }}
  </div>
</div>