<form [formGroup]="shareUserForm" (ngSubmit)="onSubmit()">
  <label>Choose user</label>
  <select required class="form-control" formControlName="userId">
    <option *ngFor="let user of users" [value]="user.id"> {{user.username}}</option>
  </select>
  <p></p>
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-primary" type="submit">Sumbit</button>
    </div>
  </div>
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="backClicked()" class="btn btn-success">Back</button>
    </div>
  </div>
</form>