<div class="share-form">
  <h5>Sharing File {{fileName}}</h5>
  <form [formGroup]="shareUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Choose User To Share The File With</label>
      <select required class="form-control" formControlName="userId">
        <option *ngFor="let user of users" [value]="user.id"> {{user.username}}</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary  mr-1" type="submit">Sumbit</button>
      <button (click)="backClicked()" type="button" class="btn btn-dark  mr-1 float-right">Back</button>
    </div>
  </form>
</div>