<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Share IO</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/file/upload" class="nav-link" *ngIf="isLoggedIn" routerLink="file/upload">Upload File <span
            class="material-icons">
            upload
          </span></a>
      </li>
      <li class="nav-item">
        <a href="/file" class="nav-link" *ngIf="isLoggedIn" routerLink="file">Files <span class="material-icons">
            folder
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/notification" class="nav-link" *ngIf="isLoggedIn" routerLink="notification">Notifications <span
            class="material-icons">
            notifications
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/reminder" class="nav-link" *ngIf="isLoggedIn" routerLink="reminder">Reminders <span
            class="material-icons">
            event
          </span></a>
      </li>
      <app-notification></app-notification>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up <span class="material-icons">
            app_registration
          </span></a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login <span class="material-icons">
            login
          </span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link">{{ username }} <span class="material-icons">
            account_circle
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout <span class="material-icons">
            logout
          </span></a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>