<div class="col-md-12">
    <div class="card card-container">
      <h3 class="text-center">File Upload</h3>
      <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input id="name" type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label for="file">Select a file</label>
          <input type="file" (change)="fileUpload($event)">
      </div>
        <div class="form-group">
          <label for="description">
            Description
          </label>
          <input id="description" class="form-control" type="text" formControlName="description">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Sumbit</button>
        </div>
      </form>
    </div>
  </div>
