<div class="file-form">
    <div class="form-group">
        <label for="file">
            File
        </label>
        <input class="form-control" type="file" id="formFile" (change)="selectFile($event)">
    </div>
    <div *ngIf="currentFile" class="progress my-3">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
        </div>
    </div>
    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
</div>
<div class="text-center">
    <button class="btn btn-success mr-1" [disabled]="!selectedFiles" (click)="upload()">
        Upload
    </button>
</div>